<?xml version="1.0" encoding="UTF-8"?>
<!--
  PHPUnit configuration for dashboard.drbastaninejad.com
  Run from: dashboard.drbastaninejad.com/
  Command:  ./vendor/bin/phpunit
            ./vendor/bin/phpunit --testsuite Unit
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
    </php>

</phpunit>
